<div class="container">
    <div class="title">
        <div>Employees</div>
    </div>
    <div class="form-container">
        <form [formGroup]="formGroup">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" autocomplete="off">
                <mat-error>First Name is required.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" autocomplete="off">
                <mat-error>Last Name is required.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Social Security Number</mat-label>
                <input matInput formControlName="socialSecurityNumber" autocomplete="off">
                <mat-error>Social Security Number is required.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phone" autocomplete="off">
            </mat-form-field>
            <button color="primary" mat-raised-button (click)="save()">
                <mat-icon>save</mat-icon>Save
            </button>
        </form>
    </div>
</div>